body{
    text-align: center;
    color:rgb(80,193,233);
}

.fileUpload {
    text-align: center;
    position: relative;
    overflow: hidden;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.btn {
    font-family: var(--button-font-family);
    font-size: var(--button-font-size);
    font-weight: var(--button-font-weight);
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    line-height: var(--button-line-height);
    padding: var(--button-padding-y) var(--button-padding-x);
    margin: 0;
    height: auto;
    border: var(--border-width) solid transparent;
    vertical-align: middle;
    -webkit-appearance: none;
    color: inherit;
    background-color: transparent;
  }
  
  .btn:hover {
    text-decoration: none;
  }
  
  .btn:focus {
    outline: none;
    border-color: yellow;
    box-shadow: 0 0 0 3px green;
  }
  
  ::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

  .btn-primary {
    color: #fff;
    background-color: black;
    border-radius: 3px;
    padding: 9px;
  }
  
  .btn-primary:hover {
    box-shadow: inset 0 0 0 20rem rgb(8, 72, 92);
  }
  
  .btn-primary:active {
    box-shadow: inset 0 0 0 20rem var(--darken-2),
      inset 0 3px 4px 0 var(--darken-3),
      0 0 1px var(--darken-2);
  }
  
  .btn-primary:disabled,
  .btn-primary.is-disabled {
    opacity: .5;
  }
  
  :root {
    --button-color: black;
    --button-background-color: silver;
  }

  button, .fileUpload{
    display: block;
    width: 50%;
    min-width: 380px;
    margin: 2em auto 0 auto;
}

.file_text{
    color:rgb(80,193,233);
}